.page-title-header {
    display: flex;
    height: 150px;
    text-align: center;
    font-weight: bold;
    background-color: #369c6a;
    color: white;
    align-items: center;
    justify-content: center;
}
