/* Template for all the title sections on all pages. */
.page-title-header
{
    display: flex;
        align-items: center;
        justify-content: center;
    height: 150px;
    text-align: center;
    font-weight: bold;
    background-color: #369c6a;
    color: white;
}

/* Template for cards. */
.cards
{
    display: flex;
        flex-flow: row wrap;
        justify-content: center;
    background-color: #379c6a;
    padding-bottom: 2em;
}

.cards-row
{
    display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
}

.cards-item
{
    display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
    background-color: #ffffff;
    border-radius: 4px;
    filter: drop-shadow(2px 2px 4px #00000040);
    height: 250px;
    width: 250px;
    padding: 1.15em 1.5em;
    margin-top: .8em;
        margin-left: 10px;
        margin-right: 10px;
}

.cards-item:hover
{
    transform: translateY(-1.5px);
    background: #d7ffe9;
    text-decoration: none;
}

.card-content
{
    display: flex;
        flex-flow: column;
        align-items: center;
}

.card-content-title, .card-content-title:hover, .card-content-title a:hover
{
    text-decoration: none;
    color: #343A40;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.card-content-description, .card-content-description:hover
{
    text-decoration: none;
    color: #343A40;
    text-align: center;
}

.cards-section-title
{
    display: flex;
        align-items: center;
        justify-content: center;
    height: 30px;
    text-align: center;
    font-weight: bold;
    background-color: #369c6a;
    color: white;
}
