.authForm {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.errorHandling {
    margin-top: 20px;

    display: flex;
    justify-content: center;
}
