.inputForm
{
    margin: 15px 10px;
    display: flex;
    justify-content: center;
}

.progressAlert
{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
}
.progressBar
{
    display: flex;
    justify-content: center;
}
.progress
{
    max-width: 400px;
    width: 400px;
    margin-right: 10px;
    margin-left: 10px;
}
